body {
  font-family: 'PT Sans';
  background: radial-gradient(
    circle,
    rgba(238, 209, 222, 1) 12%,
    rgba(239, 208, 243, 1) 31%,
    rgba(193, 183, 227, 1) 63%,
    rgba(174, 197, 244, 1) 88%,
    rgba(127, 181, 245, 1) 100%
  );
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 55px;
  font-family: 'Dancing Script';
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 12px;
}
.margin {
  margin: 0% 10%;
}

.titleSlogan {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

.timeSlogan {
  text-align: center;
  margin: 40px;
  padding: 0px;
  font-size: 17px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
  font-weight: 600;
  margin: 0%;
}

.restaurantName {
  height: 55px;
}

.homeBanner {
  margin: 0;
  padding: 13% 0%;
  background: url(https://assets-global.website-files.com/624af442a8151d5a2ef5644c/6409c563f20795035f9c0ea6_city-pantry-laptop-bg.webp);
  width: 100%;
}

li {
  list-style: none;
  padding: 15px;
}

.restaurantTile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 30px;
  margin: 3% 10%;
}

.eachTile {
  background-color: rgba(255, 255, 255, 0.274);
  height: 100%;
  border-radius: 5%;
  padding: 3% 6%;
  text-align: center;
}

.footerStyle {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  align-items: end;
}

img {
  width: 100%;
  height: 175px;
  border-radius: 5%;
}

h4 {
  font-family: sans-serif;
}

.contactMe {
  border-radius: 100px;
  padding: 10px 15px;
  border: 2px solid rgb(57, 50, 110);
  font-size: 14px;
  font-weight: 600;
  background: none;
}

button {
  border-radius: 15px;
  padding: 5px 10px;
  border: none;
  font-size: 13px;
}

.typeButtons {
  margin: 5px 5px 5px 0px;
  display: inline;
}

.Japanese {
  background-color: #dafbce;
  color: #1a430c;
  font-weight: 700;
}

.Bingsu {
  background-color: #fdf1c8;
  color: #4a3c0f;
  font-weight: 700;
}

.Pizza {
  background-color: #c6dbda;
  color: #0a3331;
  font-weight: 700;
}

.Mexican {
  background-color: #ffdbcc;
  color: #3f1908;
  font-weight: 700;
}

.Cafe {
  background-color: #c8c4e6;
  color: #1f194a;
  font-weight: 700;
}

.Dessert {
  background-color: #f9d3f6;
  color: #3d123a;
  font-weight: 700;
}

.Portuguese {
  background-color: #b5c0d0;
  color: #0f2341;
  font-weight: 700;
}

.Chinese {
  background-color: #fff1e6;
  color: #4b2c14;
  font-weight: 700;
}

.Korean {
  background-color: #dfe7fd;
  color: #101d41;
  font-weight: 700;
}

.Vietnamese {
  background-color: #ccd3ca;
  color: #183810;
  font-weight: 700;
}

.Seafood {
  background-color: #bee1e6;
  color: #153c42;
  font-weight: 700;
}

.Fast {
  background-color: #d1e5d3;
  color: #113514;
  font-weight: 700;
}

.Thai {
  background-color: rgba(213, 197, 249, 0.867);
  color: rgba(48, 28, 94, 0.867);
  font-weight: 700;
}

.icon {
  width: 20px;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(57, 50, 110);
}

/* selected link */
a:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.grid1 {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 30px;
}

.grid2 {
  grid-area: 1 / 5 / 2 / 6;
}
.grid3 {
  grid-area: 1 / 6 / 2 / 7;
}
.grid4 {
  grid-area: 1 / 7 / 2 / 8;
}
.grid5 {
  grid-area: 1 / 11 / 2 / 12;
}

.gridA {
  grid-area: 1 / 1 / 2 / 2;
  width: 60px;
  height: 60px;
}

.gridB {
  grid-area: 1 / 11 / 2 / 12;
}

.grid1Image {
  width: 60px;
  height: 60px;
}

.centerText {
  text-align: center;
  font-size: 15px;
}
