body {
  font-family: roboto;
  background-color: rgb(255, 255, 255);
}

.nav {
  display: flex;
  justify-content: end;
}

.allContent {
  margin: 5%;
}

li {
  list-style: none;
  padding: 15px;
}

.restaurantTile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footerStyle {
  display: flex;
  justify-content: end;
  padding: 10px;
}

img {
  width: 250px;
  height: 175px;
}

button {
  display: ;
  border-radius: 20px;
  padding: 5px 10px;
}

.Japanese {
  background-color: #dafbce;
}

.Bingsu {
  background-color: #fdf1c8;
}

.Pizza {
  background-color: #c6dbda;
}

.Mexican {
  background-color: #ffdbcc;
}

.Cafe {
  background-color: #c8c4e6;
}

.Dessert {
  background-color: #f9d3f6;
}

.Portuguese {
  background-color: #b5c0d0;
}

.Chinese {
  background-color: #fff1e6;
}

.Korean {
  background-color: #dfe7fd;
}

.Vietnamese {
  background-color: #ccd3ca;
}

.Seafood {
  background-color: #bee1e6;
}

.Fast {
  background-color: #d1e5d3;
}

.Thai {
  background-color: #ac6d7;
}
