body {
  font-family: arial;
  background-color: rgb(227, 248, 249);
}

.nav {
  display: flex;
  justify-content: end;
}

.allContent {
  margin: 5%;
}

li {
  list-style: none;
  padding: 15px;
}

.restaurantTile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 2%;
  column-gap: 2%;
}

.eachTile {
  background-color: #ffffff;
  height: 100%;
  border-radius: 5%;
  padding: 3%;
  text-align: center;
}

.footerStyle {
  display: flex;
  justify-content: end;
  padding: 10px;
}

img {
  width: 250px;
  height: 175px;
  border-radius: 5%;
}

button {
  border-radius: 15px;
  padding: 5px 10px;
}

.typeButtons {
  margin: 5px 5px 5px 0px;
  display: inline;
}

.Japanese {
  background-color: #dafbce;
}

.Bingsu {
  background-color: #fdf1c8;
}

.Pizza {
  background-color: #c6dbda;
}

.Mexican {
  background-color: #ffdbcc;
}

.Cafe {
  background-color: #c8c4e6;
}

.Dessert {
  background-color: #f9d3f6;
}

.Portuguese {
  background-color: #b5c0d0;
}

.Chinese {
  background-color: #fff1e6;
}

.Korean {
  background-color: #dfe7fd;
}

.Vietnamese {
  background-color: #ccd3ca;
}

.Seafood {
  background-color: #bee1e6;
}

.Fast {
  background-color: #d1e5d3;
}

.Thai {
  background-color: #ac6d7;
}

.icon {
  width: 20px;
}
